 <div class="user-details">
  <!--<h1> i t ' s y o u r b i r t h d a y ! </h1>
  <p> {{site.user_description}} </p>-->
  <br>
  <br>

</div>
<div>

  <audio controls>
    <source src="horse.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio> 
</p>
 <!--
   <a href="#">
   --> 
  </p>
  <p>
    <img src="assets/img/corpmime.gif" alt="corpmime" width="300" height="400">
  <img src="assets/img/surfing sheep.gif" alt="surfing sheep" width="300" height="400">
<img src="assets/img/skateboarding.gif" alt="skateboarding" width="300" height="400">
<img class="animation-target" src="assets/img/elephant.gif" alt="elephant" width="280" height="223">
</p>



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>Present!</h1>
    <p>One resume/portfolio/professional website!</p>
    <p><em>that looks much better than this one</em></p>
  </div>
  
</div> 


<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
			<img class="norep" src="assets/img/pancake.jpg" alt="pancake" width="300" height="400">
		</div>
		<div class="back">
			<img class="norep" src="assets/img/pancake_flip.jpg" alt="pancake" width="300" height="400">
		</div>
	</div>
</div>

  <!--class="animation-target"-->
<!--</a> 
-->



  <!--<a class="project-link" href="#">Open Present</a>-->

</div>
  <!--<div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
-->