<img  class="present" src="assets/img/present.gif" alt="present"> 
  <img class="present" alt="present" src="{{ "/assets/img/present.gif" | prepend: site.baseurl }}" />

  <div class="card">
    <div class="back"></div>
    <div class="front">
      <div class="cover-shape-large">
        <div class="shape-diamond"></div>
        <div class="shape-block"></div>
      </div>
      <div class="cover-shape-small">
        <div class="shape-diamond"></div>
        <div class="shape-block">
          <div class="cake">
            <div class="layer layer-bottom"></div>
            <div class="layer layer-middle"></div>
            <div class="layer layer-top"></div>
            <div class="icing"></div>
            <div class="drip drip1"></div>
            <div class="drip drip2"></div>
            <div class="drip drip3"></div>
            <div class="candle">
              <div class="flame"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="text-container">
      <p id="head">Happy Birthday Eric!</p>
      <p>I hope you're having a great day!</p>
      <p>Love,<br>
      Trevor</p>
      <p>p.s. click the present below for your gift!</p>
    <p>
    </div>
  </div>


  <p><img  class="present" id="myBtn" src="assets/img/present.gif" alt="present"> 
    <img class="present" alt="present" src="{{ "/assets/img/present.gif" | prepend: site.baseurl }}" /></p>

<!--<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
-->